body {
    font-family: Arial, sans-serif;
    background-color: #f3f7fa;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    color: #0077aa;
    margin-bottom: 20px;
}

fieldset {
    border: 4px solid #0077aa;
    margin: 20px auto;
    padding: 15px;
    width: 350px;
    background-color: #ffffff;
    text-align: left;
    box-shadow: #000000 2px 2px;
}

label {
    display: inline-block;
    width: 80px;
    text-align: left;
}

input[type="number"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 3px;
}

input[type="button"] {
    background-color: #0077aa;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin: 2px;
    font-weight: bold;
}

input[type="button"]:hover {
    background-color: #005f8a;
}

input[type="text"] {
    width: 400px;
    border: 2px dashed #0077aa;
    background-color: #f9f9f9;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    display: block;

}

div {
    margin: 3px 0;
    text-align: left;
}

#fat {
    margin-top: 5px;
}
